# design files
*.psd
appDesigner*/
*.asv
test_*.m
acc2counts/tes*.m
acc2counts/batch*.m
test/Auto_QC/
test/Gap
test/numResults/
test/Sleep/
test/UPMEMDperCycle/
test/Circadian/
test/Raw/
test/accel*.csv
test/bbi*.csv
test/garmin*
test/fitrockr*
test/actiwatch*

# updates temporarily ignore
